{
  documentation: "http://cache.freescale.com/files/32bit/doc/data_sheet/KL25P80M48SF0.pdf"
  symbol:
    width: 1800
    pins: [
      [6, "VREGIN", "power", "l"]
      [3, "USB0_DP", "io", "l"]
      [4, "USB0_DM", "io", "l"]
      [1, "VDD", "power", "l"]
      [22, "VDD", "power", "l"]
      [9, "VDDA", "power", "l"]
      [10, "VREFH", "power", "l"]
      [11, "VREFL", "power", "l"]
      [5, "VOUT33", "supply", "r"]
      [2, "GND", "power", "n"]
      [12, "GND", "power", "n"]
      [7, "PTE20/AD+/T0/U0TX", "io", "l"]
      [8, "PTE21/AD-/T0/U0RX", "io", "l"]
      [13, "PTE29/AD/T0/TC", "io", "l"]
      [14, "PTE30/DA/AD/C0/T0/TC", "io", "l"]
      [15, "PTE24/T0/I0C", "io", "l"]
      [16, "PTE25/T0/I0D", "io", "l"]
      [17, "PTA0/SWDC/TS/T0", "io", "l"]
      [18, "PTA1/TS/U0RX/T2", "io", "l"]
      [19, "PTA2/TS/U0TX/T2", "io", "l"]
      [20, "PTA3/SWDD/TS/I1C/T0", "io", "l"]
      [21, "PTA4/~NMI~/TS/I1D/T0", "io", "l"]
      [23, "GND", "power", "n"]
      [24, "PTA18/XI/U1RX/TC", "io", "l"]
      [25, "PTA19/XO/U1TX/TC/LT", "io", "l"]
      [26, "~RESET~/PTA20", "io", "l"]
      [27, "PTB0/AD/TS/W/I0C/T1", "io", "r"]
      [28, "PTB1/AD/TS/I0D/T1", "io", "r"]
      [29, "PTB2/AD/TS/I2C/T2", "io", "r"]
      [30, "PTB3/AD/TS/I2D/T2", "io", "r"]
      [31, "PTB16/TS/S0D/U0RX/TC", "io", "r"]
      [32, "PTB17/TS/S0D/U0TX/TC", "io", "r"]
      [33, "PTC0/AD/TS/TRG/C0O", "io", "r"]
      [34, "PTC1/RTCI/AD/IS/W/I1C/T0", "io", "r"]
      [35, "PTC2/AD/TS/I1D/T0", "io", "r"]
      [36, "PTC3/W/U1RX/T0/CLK", "io", "r"]
      [37, "PTC4/W/S0~S~/U1TX/T0", "io", "r"]
      [38, "PTC5/W/S0C/LT/C0O", "io", "r"]
      [39, "PTC6/W/C0/S0D/TRG", "io", "r"]
      [40, "PTC7/C0/S0D", "io", "r"]
      [41, "PTD0/S0~S~/T0", "io", "r"]
      [42, "PTD1/AD/S0C/T0", "io", "r"]
      [43, "PTD2/S0D/U2RX/T0", "io", "r"]
      [44, "PTD3/S0D/U2TX/T0", "io", "r"]
      [45, "PTD4/W/S1~S~/U2RX/T0", "io", "r"]
      [46, "PTD5/AD/S1C/U2TX/T0", "io", "r"]
      [47, "PTD6/W/AD/S1D/U0RX", "io", "r"]
      [48, "PTD7/S1D/U0TX", "io", "r"]
      [49, "GND", "power", "n"]
    ]
  package:
    qfn:
      pins: 48
      A: [1, 0.8]
      D: [7.1, 6.9]
      E: [7.1, 6.9]
      D2: [5.2, 5.0]
      E2: [5.2, 5.0]
      e: 0.5
      b: [0.3, 0.18]
      L: [0.5, 0.3]
}