{
  documentation: "http://cache.freescale.com/files/32bit/doc/data_sheet/KL25P80M48SF0.pdf"
  symbol:
    width: 1800
    pins: [
      [15, "VDD", "power", "l"]
      [7, "VDDA", "power", "l"]
      [6, "VREGIN", "power", "l"]
      [5, "VOUT33", "supply", "r"]
      [1, "PTE0/U1TX/RTCO/C0O/I1D", "io", "l"]
      [2, "GND", "power", "n"]
      [3, "USB0_DP", "io", "r"]
      [4, "USB0_DM", "io", "r"]
      [8, "GND", "power", "n"]
      [9, "PTE30/DA/AD/C0/T0/TC", "io", "l"]
      [10, "PTA0/SWDC/TS/T0", "io", "l"]
      [11, "PTA1/TS/U0RX/T2", "io", "l"]
      [12, "PTA2/TS/U0TX/T2", "io", "l"]
      [13, "PTA3/SWDD/TS/I1C/T0", "io", "l"]
      [14, "PTA4/~NMI~/TS/I1D/T0", "io", "l"]
      [16, "GND", "power", "n"]
      [17, "PTA18/XI/U1RX/TC", "io", "l"]
      [18, "PTA19/XO/U1TX/TC/LT", "io", "l"]
      [19, "~RESET~/PTA20", "io", "l"]
      [20, "PTB0/AD/TS/W/I0C/T1", "io", "r"]
      [21, "PTB1/AD/TS/I0D/T1", "io", "r"]
      [22, "PTC1/RTCI/AD/IS/W/I1C/T0", "io", "r"]
      [23, "PTC2/AD/TS/I1D/T0", "io", "r"]
      [24, "PTC3/W/U1RX/T0/CLK", "io", "r"]
      [25, "PTC4/W/S0CS/U1TX/T0", "io", "r"]
      [26, "PTC5/W/S0CK/LT/C0O", "io", "r"]
      [27, "PTC6/W/C0/S0D/TRG", "io", "r"]
      [28, "PTC7/C0/S0D", "io", "r"]
      [29, "PTD4/W/S1CS/U2RX/T0", "io", "r"]
      [30, "PTD5/AD/S1C/U2TX/T0", "io", "r"]
      [31, "PTD6/W/AD/S1D/U0RX", "io", "r"]
      [32, "PTD7/S1D/U0TX", "io", "r"]
      [33, "GND", "power", "n"]
    ]
  package:
    qfn:
      pins: 32
      A: [1, 0.8]
      D: [5.1, 4.9]
      E: [5.1, 4.9]
      D2: [3.7, 3.5]
      E2: [3.7, 3.5]
      e: 0.5
      b: [0.3, 0.18]
      L: [0.5, 0.3]
}