{
  package:
    sot:
      pins: 3
      rename: ['G', 'S', 'D']
      A: [1.1, 0.9]
      D: [3.05, 2.67]
      E: [2.5, 2.1]
      E1: [1.4, 1.2]
      e: 1.9
      b: [0.53, 0.37]
      L: [0.45, 0.15]
}